# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Trabajo\OneDrive - Instituto Tecnologico y de Estudios Superiores de Monterrey\Documents\Tec\8 semestre\Graficas\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
